:root {
    /* Primary color shades */
    --md-primary-fg-color: #e8155b;
    --md-primary-fg-color--light: #ea7d4c;
    --md-primary-fg-color--dark: #ea7d4c;
    --md-primary-bg-color: hsla(0, 0%, 100%, 1);
    --md-primary-bg-color--light: hsla(0, 0%, 100%, 0.7);
    --md-text-link-color: rgb(217, 34, 34);

    /* Accent color shades */
    --md-accent-fg-color: rgb(98, 18, 189);
    --md-accent-fg-color--transparent: hsla(189, 100%, 37%, 0.1);
    --md-accent-bg-color: hsla(0, 0%, 100%, 1);
    --md-accent-bg-color--light: hsla(0, 0%, 100%, 0.7);
}

.md-header {
    /* Header */
    --md-header-bg-color: #51c7c4;
    --md-header-bg-color--dark: hsla(0, 0%, 0%, 0.32);
    --md-header-fg-color: hsla(0, 0%, 100%, 1);
    --md-header-fg-color--light: hsla(0, 0%, 100%, 0.7);
    --md-header-fg-color--lighter: hsla(0, 0%, 100%, 0.3);
}

:root > * {
    /* Code block color shades */
    /* --md-code-bg-color: hsla(0, 0%, 96%, 1);
    --md-code-fg-color: hsla(200, 18%, 26%, 1); */

    /* Footer */
    --md-footer-bg-color: #ea7d4c;
    --md-footer-bg-color--dark: hsla(0, 0%, 0%, 0.32);
    --md-footer-fg-color: hsla(0, 0%, 100%, 1);
    --md-footer-fg-color--light: hsla(0, 0%, 100%, 0.7);
    --md-footer-fg-color--lighter: hsla(0, 0%, 100%, 0.3);
}