<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}NotiLog{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="wrapper">
        <!-- Шапка -->
        {% include "includes/header.html" %}

        <!-- Основное содержимое -->
        <main class="content">
            {% block content %}{% endblock %}
        </main>

        <!-- Футер -->
        {% include "includes/footer.html" %}
    </div>
    <script src="/static/js/script.js"></script>
</body>
</html>
