{% extends "base.html" %}

{% block title %}События{% endblock %}

{% block content %}
<h1>События</h1>
<table>
    <thead>
        <tr>
            <th>Приложение</th>
            <th>Время события</th>
            <th>Уровень события</th>
            <th>Сообщение</th>
        </tr>
    </thead>
    <tbody>
        {% for event in events %}
        <tr>
            <td>{{ event.title }}</td>
            <td>{{ event.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</td>
            <td>{{ event.level }}</td>
            <td>{{ event.description }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
