<!-- server/templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/styles.css') }}">
</head>
<body>
    <h1>Events</h1>
    <ul>
        {% for event in events %}
            <li>
                <strong>{{ event.title }}</strong><br>
                <small>{{ event.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</small><br>
                Level: {{ event.level }}<br>
                Description: {{ event.description }}<br>
            </li>
        {% endfor %}
    </ul>
    <script src="{{ url_for('static', path='/js/script.js') }}"></script>
</body>
</html>
