fastapi==0.112.2
uvicorn[standard]==0.30.6
sqlalchemy==2.0.32
psycopg2-binary==2.9.9  # для работы с PostgreSQL
alembic==1.13.2  # для миграций базы данных
pydantic==2.8.2
celery[redis]==5.4.0  # для фоновых задач и очередей сообщений
aiogram==3.12.0  # для работы с Telegram API
pydantic-settings==2.4.0
requests==2.32.3